POSTGRES_DB=merimna_db
DB_URL=jdbc:postgresql://postgres:5432/merimna_db
DB_USERNAME=merimna_user
DB_PASSWORD=merimna_password
JWT_SECRET_KEY=change-me-to-a-long-secret-key

APP_PORT=8080
POSTGRES_PORT=5433